{% extends "WebApp/base.html" %} {% load static %} {% load widget_tweaks  %} {% block content %}
<!-- Heading -->
<section class="page-section clearfix" style="margin-bottom: 90rem;">
    <div class="container">
        <div class="intro">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded" style="margin-bottom: 20px;">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if "valido" in request.GET  %}
                        <p>Información fue guardada correctamente, puede seguir.</p>
                        <div class="botones">
                            <a class=" btn navbar-brand  text-uppercase text-expanded font-weight-bold d-lg-block"
                            href="{% url 'FormularioNombreVariables' %}" id="atras">
                                siguiente
                            </a>
                            <a class=" btn navbar-brand  text-uppercase text-expanded font-weight-bold d-lg-block"
                            href="{% url 'Coordenadas' %}" id="atras">
                                atras
                            </a>
                        </div>
                    {% else  %}
                        <img class="imagen" style="margin-bottom: 10px;" src="{% static 'WebApp/img/coordenadas.jpg' %}">
                        <iframe width="90%" height="80%" src="https://www.youtube.com/embed/puqQfI_tqYM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <label class="label">Ingrese un archivo.csv que contenga las coordenadas que limitan su cultivo. Este archivo debe contener tres columnas las cuales deben ser nombradas "Coordenadas del campo(latitud)","Coordenadas del campo(longitud)" y "Coordenadas del campo(altura)" además de que el archivo debe estar separado por comas</label>
                        <label>¿En que tipo de cultivo se van a hacer las mediciones?</label>
                        <div class="control" style="margin-bottom: 10px;">
                            {% render_field coordenadas.tipo_cultivo class="input" placeholder="Tipo de cultivo"%}
                        </div>
                        {% if manual != True %}
                            <label class="label">¿Cuantos marcadores vas a utilizar en el cultivo?</label>
                            <div class="control">
                                {% render_field coordenadas.numero_de_marcadores class="input" placeholder="# de marcadores" %}
                            </div>
                        {% else %}
                            <label class="label">¿Cuantas variables se van a medir en el cultivo?</label>
                            <div class="control">
                                {% render_field coordenadas.n_variables class="input" placeholder="# de Variables" %}
                            </div>
                        {% endif %}
                        <label>¿Suba su archivo aquí?</label>
                        <div style="margin-left: 25%">{{coordenadas.file}}</div>
                        <br>
                        <input type="submit" value="guardar" id="boton" />
                        <div class="botones">
                            <a class=" btn navbar-brand  text-uppercase text-expanded font-weight-bold d-lg-block"
                                href="{% url 'TipoProyecto' %}" id="atras">
                                atras
                            </a>
                        </div>
                    {% endif  %}
                </form>
                
            </div>
        </div>
    </div>
</section>


{% endblock %}
