{% extends "WebApp/base.html" %} {% load static %} {% load widget_tweaks  %} {% block content %}
<!-- Heading -->
<section class="page-section clearfix" style="margin-bottom: 50rem;">
    <div class="container">
        <div class="intro">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if "valido" in request.GET  %}
                        <p>Información guardada correctamente, puede seguir.</p>
                        <div class="botones">
                            <a class=" btn navbar-brand  text-uppercase text-expanded font-weight-bold d-lg-block"
                            href="{% url 'EncuestaInicio' %}" id="atras">
                                siguiente
                            </a>
                            <a class="navbar-brand  text-uppercase text-expanded font-weight-bold d-lg-block"
                            href="{% url 'NuevoProyecto2' %}" id="atras"
                            >
                                atras
                            </a>
                            <a class=" btn navbar-brand  text-uppercase text-expanded font-weight-bold d-lg-block"
                            href="{% url 'EncuestaBaseDatos' %}" id="atras">
                                atras
                            </a>
                        </div>
                    {% else  %}
                        <table style="margin: 20px">
                            <label class="label">Nombre del proyecto</label>
                            <div class="control">
                                {{proyecto}}
                            </div>
                            <label class="label">Nombre de la campaña</label>
                            <div class="control">
                                {% render_field formulario_proyecto.nombre_campaña class="input" placeholder="Campaña" %}
                            </div>
                            <label class="label">Día de la plantación</label>
                            <div class="control">
                                {% render_field formulario_proyecto.dia_plantacion class="input" placeholder="dd-mm-yyyy" %}
                            </div>
                            <label class="label">Fecha de la jornada</label>
                            <div class="control">
                                {% render_field formulario_proyecto.fecha class="input" placeholder="dd-mm-yyyy" %}
                            </div>
                        </table>
                        <input type="submit" value="guardar" id="boton" />
                        <div class="botones">
                            <a class=" btn navbar-brand  text-uppercase text-expanded font-weight-bold d-lg-block"
                            href="{% url 'EncuestaBaseDatos' %}" id="atras">
                                atras
                            </a>
                        </div>
                    {% endif  %}
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
